html {
    height: 100%;
}
body {
    display: box;
    display: -webkit-box;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    height: 100%;
}
header {
    text-align: center;
}

#search-term {
    font-size: 2em;
    font-weight: bold;
    padding: 25px;
}

#stream {
    box-flex: 1;
    -webkit-box-flex: 1;
    position:relative;
    display: box;
    display: -webkit-box;
    box-orient: vertical;
    -webkit-box-orient: vertical;
}

.tweet .tweet_list {
    box-flex: 1;
    -webkit-box-flex: 1;
}